@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

:root {
    --bg-color: #444;
    --bg-accent-color: #333;
    --bg-accent-color-darker: #222;
}






/* #MARKER BEGIN */
html, body{
    scroll-behavior: smooth;
}

body:not(.transparent) {
    margin: 0;
    background-color: var(--bg-color);
    color: #fff;
    font-family: "Roboto", "Segoe UI", "Arial", sans-serif;
    font-size: 15px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noa {
    color: inherit;
}

.noul, .mimica {
    cursor: pointer;
}

a:not(.noul), .mimica:not(.noul) {
    color: #8f9aff;
    transition: color 0.5s linear;
    text-decoration: none;
}

a:not(.noul):hover, .mimica:not(.noul):hover {
    color: #bcc2ff;
    transition: color 0.5s linear;
    text-decoration: underline;
}