/* make scrollbar smaller on webkit browsers (not compatible with Firefox, IE and Edge) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

#inputelem {
    background-color:#cecece;
    border:solid 1px #cecece;
    color:#000000;
    height:2vw;
    padding-left:10px;
    width:43vw;
    box-shadow:2px 2px 0 #828181 inset;
	
    border: 0;
    border-radius:5px;
	font-size:1vw;
	font-family: Courier;
}

body {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */´
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated; 				/* Chrome */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */´
}

.imgpreload {
	display:none;
}

#timercontainer {
	background-color:rgba(50,50,50,0.5);
	border-radius:5px;
	padding:5px;
	color:white;
	position:absolute;
	z-index:11;
	font-family:Courier;
	font-size:0.9vw;
	width:11vw;
}

#uicontainer {
	font-family:Courier;
	background-color:rgba(50,50,50,0.65);
	border-radius:5px;
	padding:10px;
	z-index:11;
	width:46vw;
}

#controlpanelcontainer {
	font-family:Courier;
	background-color:rgba(50,50,50,0.5);
	border-radius:5px;
	padding:5px;
	z-index:11;
	width:10vw;
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	width:6vw;
	height:1.6vw;
	font-size:0.8vw;
	font-family:Courier;
	padding-left:0px;
	border-radius:5px;
	background:url(selbg.png) repeat;
	color:#fff;
	box-shadow:2px 2px 5px 1px rgba(0,0,0,0.3);
	border-radius:3px;
	outline:none;
	cursor:pointer;
}

select option {
	color: #666;
}

select:focus::-ms-value {
	background-color: transparent;
}

select::-ms-expand {
	display: none;
}

#isecontainer {
	position:fixed;
	top:120vh;
}

#sc_structure_shelter {
	width:30vw;
	height:30vw;
}

#bg_sc_structure_shelter {
	position:fixed;
	top:15vh;
	left:35vw;
}

#sc_structure_shipwreck {
	width:15vw;
	height:15vw;
}

#bg_sc_structure_shipwreck {
	position:fixed;
	top:30vh;
	right:3vw;
}

#sc_effect_hunger {
	width:5vw;
	height:5vw;
}

#bg_sc_effect_hunger {
	position:fixed;
	top:33vh;
	right:8.5vw;
}

/*#submitelem{
	background-color: white;
    color: black;
    border: 2px solid #555555;
}*/

.hoverhelp{
	background-color:#fff493;
	cursor:help;
}

div#preload { display: none; }

#outputelem{
	box-shadow:5px 5px 10px grey;
	overflow:auto;
	padding:5px;
	width:45vw;
	height:60vh;
	background-color:#dfdfdf;
	border-width:3px;
	border-radius:5px;
	z-index:10;
	font-size:0.9vw;
}

#retryelem{
	width:auto;
	height:auto;
	background-color:#efefef;
	border-color:#efefef;
	border-width:3px;
	border-radius: 5px;
	color:#000;
	font-size:1.5vw;
}

#itemelem{
	box-shadow:5px 5px 10px grey;
	width:45vw;
	height:2vw;
	background-color:#cda732;
	border-width:3px;
	border-radius:5px;
	z-index:10;
}

#structureelem{
	box-shadow:5px 5px 10px grey;
	width:45vw;
	height:2vw;
	background-color:#cecece;
	border-width:3px;
	border-radius:5px;
	z-index:10;
}

#effectselem{
	box-shadow:5px 5px 10px grey;
	width:45vw;
	height:2vw;
	background-color:#76dbf8;
	border-width:3px;
	border-radius:5px;
	z-index:10;
}

#submitelem{
	width:2vw;
	height:2vw;
	font-size:1vw;
	background-color:#efefef;
	border-color:#efefef;
	border-width:3px;
	border-radius: 5px;
	color:#000;
}

#premsg #checkload {
	z-index:-20;
}

#jsout {
	z-index:-20;
}